/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: arial;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header{
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    white-space: nowrap;
}
    .header li{
        display: inline;
        font-family: sans-serif;
        font-size: 12px;
        margin: 10px;
        margin-top: 300px;
        text-decoration: none;
    }
    .header:hover{
        color: #12afe0;
    }
    .header:visited{
        text-decoration: none;
    }

    .header a{
        text-decoration: none;
        color: #369;
        font-family: verdana;
    }
    .header a:hover{
        color: #18afe0;
        text-decoration: none;
    }
    #happy{
        margin-right: 600px;
        color: gray;
        text-decoration: none;
    }
        #sign:hover{
        color:#369;
    }
.headline{
    text-align:center;
    margin: 30px auto;
    white-space: nowrap;
}
    #logo{
        width: 150px;
        margin: 0 auto 0 auto;
    }
    .headline h1{
        font-size: 52px;
        margin-top: 20px;
        font-family: times;
    }
    .headline h4{
        font-family: times;
        margin-top: 30px;
        font-size: 20px;
        font-weight: normal;
    }

/*.products is hidden until mouse hovers over .boxes*/
.products{
    display: none;
}
    .products h1{
        font-size: 45px;
    }
    .products h4{
        font-size: 17px;
    }
    .products img{
        position: absolute;
    }
    .products a{
        text-decoration: underline;
        color: #369;
    }
    #arrow1{
        margin-left: -200px;
    }
    #arrow2{
        margin-left: 40px;
    }
    #arrow3{
        margin-left: 100px;
    }

/*addClass of .visible-headline in js for .products to be visible*/
.visible-headline{
    display: block;
}
.boxes{
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    height: 230px;
    width:180px;
    background: linear-gradient(white, #efefef);
    background-repeat: no-repeat;
    box-shadow: #efefef;   
    display: inline-block;
    background-position: center;
    padding-top: 20px;
    font-family: verdana;
    margin-right: 30px;
}
    .boxes a{
        text-decoration: none;
    }
    .boxes h3{
        text-decoration: underline;
        color: #369;
        font-size: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .boxes h5{
        color: #cc0000;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 15px;
    }
    .boxes p{
        font-size: 15px;
        padding-top: 7px;
        color: black;
    }
.stars{
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
}























